---
# site specific css
---
.jumbotron {
	margin-top: -20px;
	margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
	img { margin-right: 1em; }
}

.site-pages {
  &>li { margin-bottom: 1em; }
  dl { margin-bottom: 0;}
  dt { font-weight: normal; }
}

.caption p { font-weight: bold; }
