<div class="container">
  <hr>
  <footer>
    <p class="pull-right"><a href="/contact/">Contact Us</a></p>
    <p>&copy; Helena Civic Center Board 2015</p>
  </footer>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/{{ site.bootstrap-sass }}/assets/javascripts/bootstrap.min.js"></script>
